.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Set your desired background color */
  height: 50px; /* Adjust the height as needed */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Adjust the z-index as needed */
}

.navbar-button {
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: #007bff; /* Set your desired button background color */
  color: white; /* Set your desired text color */
  border: none;
  cursor: pointer;
}

/* Add hover effect or other styles as needed */
.navbar-button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

.selected {
  background-color: grey;
}
