<div class="city-list" xmlns="http://www.w3.org/1999/html">
  <div *ngFor="let city of cities" class="city-card">
    <div class="city-info">
      <h2>{{ city.name }}</h2>
      <p>Population: {{ city.population }} {{ city.idlePopulation > 0 ? "(" + city.idlePopulation + " Idle)" : "" }}</p>
      <p>Food Output: {{city.expectedDailyFoodOutput}}, Daily Citizen Food Cost: {{city.population}}</p>
      <p>Food to Next Worker: {{city.currentFoodFloat}}({{city.expectedDailyFoodChange >= 0 ? "+" : "-"}}{{city.expectedDailyFoodChange}})/{{city.nextPopulationCost}}</p>
      <p>Expected Monthly Pop Gain: {{city.expectedMonthlyPopGrowth}}</p>
    </div>
    <div class="profession-list">
      <div class="profession-card" *ngFor="let building of city.buildings">
        <div class="priority-controls">
          <button (click)="adjustPriority(city, building, 'decrease')">-</button>
          <span>{{ building.priority }} Priority</span>
          <button (click)="adjustPriority(city, building, 'increase')">+</button>
        </div>
        <div class="worker-controls">
          <button (click)="changeWorkerPriority(city, building, 'Max')" [ngClass]="{'selected': building.workerPriorityType == 'Max'}">Max</button>
<!--          <button (click)="changeWorkerPriority(city, building, 'Maintain')" [ngClass]="{'selected': building.workerPriorityType == 'Maintain'}">Maintain</button>-->
          <button (click)="changeWorkerPriority(city, building, 'Fixed')" [ngClass]="{'selected': building.workerPriorityType == 'Fixed'}">Fixed</button>
          <button (click)="changeWorkerPriority(city, building, 'None')" [ngClass]="{'selected': building.workerPriorityType == 'None'}">None</button>
        </div>
        <div class="profession-name">
          <span>
            Level {{building.level}} {{ building.name }}
            <div *ngIf="building.input.length">
              Input: {{building.inputFormatted}}
            </div>
            <div>
              Output: {{building.outputFormatted}}
            </div>
          </span>
        </div>
        <div class="profession-controls">
          <button (click)="adjustWorkers(city, building, 'decrease')">-</button>
          <span style="margin: 3px; text-align: center">{{ building.workers }}/ {{ building.maxWorkers}} Workers</span>
          <button (click)="adjustWorkers(city, building, 'increase')">+</button>
        </div>
        <div class="upgrade-button">
          <button (click)="upgrade(city, building)">
            Upgrade <br>
            {{building.upgradeCostFormatted}}
          </button>
          <div>
            Auto-upgrade?
            <input type="checkbox" [(ngModel)]="building.autoUpgrade"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
